@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



body{   /*Cor que ficará no fundo do site*/
    background-color: #ffffff ;     
}


header{ /* Cor do cabeçalho, cor do texto e utilizar o (Display iline-block) para deixar as coisas na mesma linha */
    display: inline-block;  
    background-color: #000000;  
    color: #e1e1e1; 
    
}


.Titulo1{   /*Aqui coloquei o meu Nome, coloquei display para tudo ficar alinhado, e margin-right e margin-left para as coisas não ficarem coladas*/
    display: inline-block;
    margin-right: 301px;
    margin-left: 20px;
}


.Titulo{    /*Aqui ficam os "links" que levarão as minhas informações, coloquei display para tudo ficar alinhado, e margin-right e margin-left para as coisas não ficarem coladas */
    margin-left: 60px;
    display: inline-block;
    margin-right: 40px;
}


#FotoEu{    /*Coloquei uma foto minha e mdifiquei, coloquei display para tudo ficar alinhado, e margin-right e margin-left margin-top para as coisas não ficarem coladas. Por fim coloquei uma borda para que a imagem ficasse como um quadro.*/
    display: inline-block;  
    margin-left: 25px;
    margin-top: 10px;
    margin-right: 100px;
    border: 5px solid rgb(0, 0, 0);
}


.QuemSou{   /*Aqui falei um pouco sobre mim, usei width para aumentar o tamanho da caixa, coloquei display para tudo ficar alinhado, padding-top para a caixa ter um espaço e font-size para aumentar o tamanho das letras.*/
    width: 700px;
    display: inline-block;
    padding-top: 50px;
    font-size: 32px;
    
}


.HabilidadesWord{   /**/
    display: inline-block;
    padding-right: 70px ;
    text-align: center;
    font-size: 32px;
}


.HabilidadesWeb{    /**/
    display: inline-block;
    padding-right: 330px;
    font-size: 16px;
    text-align: center;

}

a{    /**/
    color: #000000;
    font-size: 30px;
}

.Sobre{    /**/
    display: inline-block;
    width: 1300px;
    background-color: yellowgreen;
}









.Roda{
background-color: #202020;


}

.fundoRoda{ 
    color: #ffffff ;
}



#Contato{
    margin-left: 225px;
    border-radius: 20px;
    background-color: #a6a6a6;
    padding-left: 300px;
    padding-right: 300px;
    text-align: center;
    display: inline-block;
    
}

#Icone{
    display: inline-block;

}

